@(cursoForm: Form[Curso])

@import helper._
@import helper.custom._

@main("Play-CP Curso", scripts) {
    
    <div id="cursos">
    	<form id="addCurso" action="#">
   			<legend>Crear Curso</legend>
			<div class="control-group" id="nombre_field">
				<label class="control-label" for="nombre">Nombre</label>
				<div class="controls">
					<input type="text" name="nombre" id="nombre">
					<span class="help-inline"></span>
				</div>
			</div>
			<input type="hidden" name="id" id="id">
			<button id="add" type="submit" class="btn btn-success"><i class="icon-ok icon-white"></i> Guardar</button>
		</form>
		
		<table class="table table-hover">
	    	<thead>
	    		<tr>
	    			<th>Id</th>
	    			<th>Nombre</th>
	    		</tr>
	    	</thead>
	    	<tbody></tbody>
	    	<tfoot></tfoot>
	    </table>
    </div>
}

@scripts = {
	@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/app").url)
}