@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top">
        	<div class="navbar-inner">
        		<div class="container-fluid">
	        		<a href="@routes.Application.index()" class="brand">Play - Concept Proof</a>
	        		<ul class="nav">
				      <li><a href="@routes.Application.index()">Inicio</a></li>
				      <li><a href="@routes.Cursos.index">Cursos</a></li>
				      <li><a href="#">Alumnos</a></li>
				    </ul>
			    </div>
            </div>
        </header>
        
        <section id="main">
            @content
        </section>
        
        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        @scripts
    </body>
</html>
